/* css */

.title {
    text-align: center;
}

.word {
    text-align: center;
    text-transform: uppercase;
    font-size: 4.2vw;
}

.letters {
    text-transform: uppercase;
    font-size: 3vw;
}

#gameUpdate {
    font-size: 3vw;
}

#playAgain {
    display: none;
}
 
#myAnswer {
    text-transform: uppercase;
    font-size: 4.2vw;
}