/* css */
.main {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #5F5F5F;
    color: white;
}

.title {
    text-align: center;
    font-size: 5em;
    border-bottom: 2px solid white;
    background: -webkit-linear-gradient(white, #5F5F5F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.word {
    text-align: center;
    text-transform: uppercase;
    font-size: 4.2vw;
}

.letters {
    text-transform: uppercase;
    font-size: 3vw;
}

#gameUpdate {
    font-size: 3vw;
}

#playAgain {
    display: none;
}
 
#myAnswer {
    text-transform: uppercase;
    font-size: 4.2vw;
}

#myTimer {
    font-size: 3em;
}