/* css */
.main {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #500375;
    color: white;
    text-transform: uppercase;
}

.title {
    text-align: center;
    font-size: 5em;
    border-bottom: 2px solid white;
    background: -webkit-linear-gradient(white, #500375);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-hard {
    text-align: center;
    font-size: 5em;
    border-bottom: 2px solid red;
    background: -webkit-linear-gradient(red, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.word {
    text-align: center;
    text-transform: uppercase;
    font-size: 4.2vw;
}

.letters {
    text-transform: uppercase;
    font-size: 2em;
}

#gameUpdate {
    font-size: 3em;
}

#playAgain {
    display: none;
}
 
#myAnswer {
    text-transform: uppercase;
    font-size: 4em;
    color: #500375;
    width: 100%;
}

#myTimer {
    font-size: 4em;
    height: 10vh;
}

#myWord {
    height: 20vh;
    font-size: 4em;
}

#playAgain {
    color: #500375;
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    border-radius: 8px;
    border-color: #500375;
}

#playAgain:hover {
    background-color: lightgray;
}

h3{
    text-align: right;
    font-size: 2em;
}

#howToPlay:hover {
    color: lightgray;
    cursor: pointer;
}

/* Modal Styling */
#instructions {
    color: #500375;
}

.modal-body {
    font-size: 2vw;
    color: black;
    text-transform: none;
}

/* Hard Mode Button */
#hard-mode {
    font-size: 2vw;
    color: red;
}
